<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
						http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!-- Constructor Injection -->
	<bean id="sonnet29" class="com.springinaction.spingidol.performers.poem.Sonnet29" />

	<bean id="duck" class="com.springinaction.spingidol.performers.PoeticJuggler">
		<constructor-arg value="15" />
		<constructor-arg ref="sonnet29" />
	</bean>

	<bean id="stage" class="com.springinaction.spingidol.util.Stage"
		factory-method="getInstance" />

	<bean id="ticket" class="com.springinaction.spingidol.util.Ticket"
		scope="prototype" />


	<bean id="t1" class="com.springinaction.spingidol.util.Ticket" />
	<bean id="t2" class="com.springinaction.spingidol.util.Ticket" />


	<bean id="auditorium" class="com.springinaction.spingidol.util.Auditorium"
		init-method="trunOnLights" destroy-method="turnOffLights" />

	<!-- Property Injection -->
	<bean id="pianoInstrument"
		class="com.springinaction.spingidol.performers.instrument.PianoInstrument" />

	<bean id="kenny" class="com.springinaction.spingidol.performers.Instrumentalist"
		p:song="'Disert Rose'" p:instrument="#{pianoInstrument}" />
		
	<bean id="carl" class="com.springinaction.spingidol.performers.Instrumentalist"
		p:song="#{kenny.song?.toUpperCase()}" 
		p:instrument="#{kenny.song.contains('Rose')?saxophoneInstrument:harmonicaInstrument}">
	</bean>

	<!-- Wiring Collections -->

	<bean id="saxophoneInstrument"
		class="com.springinaction.spingidol.performers.instrument.SaxophoneInstrument" />
	<bean id="harmonicaInstrument"
		class="com.springinaction.spingidol.performers.instrument.HarmonicaInstrument" />

	<bean id="hank" class="com.springinaction.spingidol.performers.OneManBand">
		<property name="instruments">
			<set>
				<ref bean="pianoInstrument" />
				<ref bean="saxophoneInstrument" />
				<ref bean="harmonicaInstrument" />
				<ref bean="harmonicaInstrument" />
				<bean
					class="com.springinaction.spingidol.performers.instrument.HarmonicaInstrument" />
			</set>
		</property>
	</bean>

	<bean id="boody"
		class="com.springinaction.spingidol.performers.OneManBandWithName">
		<property name="someValue">
			<null />
		</property>
		<property name="instruments">
			<map>
				<entry key="PIANIO" value-ref="pianoInstrument" />
			</map>
		</property>
	</bean>
	
	<!-- util namespace and spEL collections -->
	
	<util:list id="cities">
		<bean class="com.springinaction.spelcollections.City" p:name="Cairo" p:state="CA" p:population="5000000" />
		<bean class="com.springinaction.spelcollections.City" p:name="Alex"  p:state="AL" p:population="1000000" />
		<bean class="com.springinaction.spelcollections.City" p:name="Riyadh"  p:state="RY" p:population="3000000" />
	</util:list>
	
	<bean id="user" class="com.springinaction.spelcollections.User" p:profileCity="#{cities[0]}" />
	
</beans>